
{% layout 'layout.liquid'%}
{% block content %}

<div class="container-lg">
    <div class="recipe_list_container">
        <div class="recipe_container">
            <img class="recipe_image" src="{{recipe.recipe.image}}" alt="">         
            <div class="recipe_info"></div>
            <div class="recipe_name">{{recipe.recipe.label}}</div>
        </div>

        <div class="recipe_comment_container">
            <div class="recipe_comment">Comments</div>
            {% for comment in recipe.comments %}
                <div class="recipe_comment_info">
                    <div class="recipe_comment_title">
                    Title: {{comment.title}}
                    </div>
                    <div class="recipe_comment_body">
                    {{comment.body}}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="recipe_comment_container">
            <div class="recipe_comment">Add Comment</div>
                <div class="recipe_comment">
                    <form action="/comment/{{recipe.id}}" method="POST">
                        <input type="text" class="form-control" id="recipe_form" name="title" placeholder="enter title for comment">          
                        <br>
                        <textarea id="recipe_comment_text" name="body" cols="27" rows="6" placeholder="enter comment here ...">
                        </textarea>
                        <div class="recipe_button_info">
                        <input type="submit" class="btn"id="btn_plus" value="+">
                        <b>Comment</b>
                        </div>
                   </form>
              </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}