
{% layout 'layout.liquid'%}
{% block content %}

<div class="container-lg">
    <div class="recipe_list_container">
        <div class="recipe_container">
            {% assign recipeId = recipe.uri | split: "#recipe_" %}
            <a href="/recipes/{{recipeId[1]}}">  
                <img class="recipe_image" src="{{recipe.image}}" alt="">  
            </a>   
            <div class="recipe_info"></div>    
            <div class="recipe_name">{{recipe.label}}</div>
        </div>

       {% if recipe.comments.size != 0 %}
        <div class="recipe_comment_container">
            <div class="recipe_comment">Comments</div>
            {% for comment in recipe.comments %}
                <div class="recipe_comment_info">
                    <div class="recipe_comment_delete">
                        <form class="form_display" action="/comment/{{recipe.id}}/{{comment.id}}" method="GET"> 
                            <input type="submit" class="btn" id="btn" value="+ Edit"> 
                        </form>
                        <form class="form_display" action="/comment/delete/{{recipe.id}}/{{comment.id}}?_method=DELETE" method="POST"> 
                            <input type="submit" class="btn" id="btn" value="- Delete"> 
                        </form>
                    </div>
                    <div class="recipe_comment_title">
                      Title: {{- comment.title -}}
                    </div>
                    <div class="recipe_comment_body">
                     {{- comment.body -}}
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="recipe_comment_container">
            <div class="recipe_comment">Add Comment</div>
                <div class="recipe_comment">
                    <form action="/comment/{{recipe.id}}" method="POST">
                        <input type="text" class="form-control" id="recipe_form" name="title" placeholder="enter title for comment">          
                        <br>
                        <textarea id="recipe_comment_text" name="body" cols="25" rows="6" placeholder="enter comment here ...">
                        </textarea>
                        <div class="recipe_button_info">
                        <input type="submit" class="btn" id="btn_plus" value="+ Comment">
                        </div>
                   </form>
              </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}