{% layout "layout.liquid" %}
{% block content %}
<!-- Search -->
<div class="container-lg">

<!-- Recipes -->
<div class="recipe_list_container">
    <div class="recipe_home_list_container">
        {% for item in recipes %}
            <div class="recipe_container">
                {% assign appRecipeId = item.recipe.uri | split: "#recipe_" %}
                <a href="/recipes/{{appRecipeId[1]}}">  
                    <img class="recipe_image" name="img" src="{{item.recipe.image}}" alt="{{item.recipe.label}}">
                </a>               
                {%if loggedIn  %}
                    <div class="recipe_info">
                        <div class="recipe_type">
                            <form class="form_display" action="/recipes/{{appRecipeId[1]}}?q={{searchQ}}" method="POST"> 
                                <input type="submit" class="btn" id="btn_plus" value="+ MyRecipes"> 
                                <input type="hidden" name="uri" value="{{appRecipeId[1]}}">
                                <input type="hidden" name="label" value="{{item.recipe.label}}">
                                <input type="hidden" name="image" value="{{item.recipe.image}}">  
                                <input type="hidden" name="yield" value="{{item.recipe.yield}}">
                                {% for line in item.recipe.ingredientLines %}
                                  <input type="hidden" name="ingredientLines" value="{{line}}">
                                {% endfor %}
                            </form>
                        </div>
                    </div>
                {% endif %}
                <div class="recipe_name">{{item.recipe.label}}</div>
            </div>
        {% endfor %}
    </div>

    <div class="col" id="article_col">
        <span class="recipe_comment_body">Articles</span>
        <div class="recipe_list_container">
            {% for article in articles %}
            <div class="recipe_article_info">
                <a href="{{ article.AccessibleVersion }}" style="color: #239F57">  
                <span class="article_title_text">{{ article.Title }}</span>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

</div>
</div>

{% endblock %}