{% layout 'layout.liquid'%}
{% block content %}
<div class="container-lg">

<!-- Recipes -->

    <div class="recipe_heading_type">
    <form id="form" class="form-display" action="/recipes/new">
        <div class="input-group" style="justify-content:space-between;">
        <h5>MyRecipes</h5>
        <input type="submit"  
            class="btn btn-outline-primary" id="search_btn" value="+ New Recipe" />
        </div>
     </form>
    </div>

    <div class="recipe_list_container">
        {% for item in recipes %}
            <div class="recipe_container">
                {% assign appRecipeId = item.uri | split: "#recipe_" %}
                {% if item.owner == userId %}
                     <a href="/recipes/mine/{{item.id}}">  
                       <img class="recipe_image" src="{{item.image}}" alt="{{item.label}}">
                     </a>
                {% else %}
                    <a href="/recipes/{{appRecipeId[1]}}">  
                        <img class="recipe_image" src="{{item.image}}" alt="{{item.label}}">
                    </a>
                {% endif %}           
                <div class="recipe_info">
                    <div class="recipe_type">
                        {%if item.owner == userId %}
                            <form class="form_display" action="/comment/{{item.id}}" method="GET">
                                <input type="submit" class="btn" id="mybtn_plus" value="+ Comments">    
                          </form>
                        {% endif %}
                    </div>
                    <div class="recipe_type">
                        {% if item.owner == userId %}
                            <form class="form_display" action="/recipes/{{item.id}}/edit" method="GET">
                                <input type="submit" class="btn" id="mybtn_plus" value="+ Edit Recipe">
                            </form>
                        {% endif %}
                    </div>
                    <div class="recipe_type">
                        {%if item.owner == userId %}
                            <form class="form_display" action="/recipes/{{item.id}}?_method=DELETE" method="POST"> 
                                <input type="submit" class="btn" id="mybtn_plus" value="- MyRecipes">          
                            </form>
                        {% endif %}
                    </div>
                </div>
                <div class="recipe_name">{{item.label}}</div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}