{% layout 'layout.liquid'%}
{% block content %}
<div class="container-lg">
    <div class="flex-container align-middle toggle-filters">
        <div class="input-group justify-content-between">
            
            <form id="form" class="search-form flex-container
                align-middle" action="/recipes">
                <div class="input-group">
                    <input type="text" id="q" class="form-control rounded" 
                    name="q" placeholder="Enter Recipe Keyword" 
                    aria-label="Search" aria-describedby="search-addon" />

                    <input type="submit"  
                    class="btn btn-outline-primary" value="Search" />
                </div>
            </form>
            <div class="filters">
                <a class="btn btn-outline-primary" href="">MyRecipes</a>
                <a class="btn btn-outline-primary" href="">MyArticles</a>
            </div>
        </div>
    </div>   

<!-- Recipes -->
    <div class="recipe_list_container">
        {% for item in recipes %}
            <div class="recipe_container">
                {% assign recipeId = item.recipe.uri | split: "#recipe_" %}
                <a href="recipes/{{recipeId[1]}}">  
                    <img class="recipe_image" src="{{item.recipe.image}}" alt="{{item.recipe.label}}">
                </a>                 
                <div class="recipe_info">
                    <div class="recipe_type">
                        <b>Comments</b>
                    </div>
                    <div class="recipe_type">
                        <form class="form_display" action="/recipes/{{recipeId[1]}}" method="POST"> 
                            <input type="submit" class="btn" id="btn_plus" value="+"> 
                            <input type="hidden" name="apiId" value="{{item.recipe.uri}}">
                            <input type="hidden" name="name" value="{{item.recipe.label}}">
                            <input type="hidden" name="img" value="{{item.recipe.image}}">          
                        </form>
                        MyRecipes
                    </div>
                </div>
                <div class="recipe_name">{{item.recipe.label}}</div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}